# User pages :)
<IfModule mod_rewrite.c>
	RewriteEngine on 
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^users/([0-9]+)/profile$ /users/profile.php?id=$1		  [END]

	RewriteRule ^users/([0-9]+)$  /users/profile.php?id=$1&redirect=true  [END]
	RewriteRule ^users/([0-9]+)/$ /users/profile.php?id=$1&redirect=true  [END]

	RewriteRule ^asset/?$ /core/utilities/assetdeliverer.php			  [END]
	RewriteRule ^Asset/?$ /core/utilities/assetdeliverer.php 			  [END]
	
	RewriteRule ^IDE/Landing.aspx$ /core/ide/landing.php				  		  [END]
	RewriteRule ^IDE/Upload.aspx$ /core/ide/publish.php				  		  [END]
	RewriteRule ^IDE/PublishNewPlace.aspx$ /core/ide/publishnewplace.php				  		  [END]
	RewriteRule ^IDE/ClientToolbox.aspx	/core/ide/toolbox.php			  [END]

	RewriteRule ^Data/Upload.ashx	/core/ide/upload.php			  [END]
	RewriteRule ^Game/Upload.aspx /core/ide/goingupload.php			  [END]

	RewriteRule ^game/gameserver.ashx$ /core/gamescripts/gameserver.php	  [END]
	RewriteRule ^game/join.ashx$ /core/gamescripts/join.php				  [END]
	RewriteRule ^game/visit.ashx$ /core/gamescripts/visit.php 			  [END]
	RewriteRule ^game/edit.ashx$ /core/gamescripts/edit.php			  [END]

	RewriteRule ^api/(.*?)$ /core/api/$1.php [END]

	RewriteRule ^game/maingameserver.ashx$ /core/gamescripts/coregameserver.php [END]
	
	RewriteRule ^create/(.*?)$ /core/create.php?type=$1 [END]
	RewriteRule ^api(/.*)?$ /core/api/$1.php  [END]

	RewriteRule ^Thumbs/RawAsset.ashx /core/thumbs/rawasset.php [END]
	RewriteRule ^thumbs/RawAsset.ashx /core/thumbs/rawasset.php [END]
	RewriteRule ^Thumbs/Asset.ashx /core/thumbs/rawasset.php [END]
	RewriteRule ^thumbs/Asset.ashx /core/thumbs/rawasset.php [END]
	RewriteRule ^thumbs/?$ /core/thumbs/index.php [END]
	
	RewriteRule ^edit$ /edit.php [END]
	RewriteRule ^Item.aspx$ /item.php [END]

	RewriteCond %{QUERY_STRING} id=(.+)
	RewriteRule ^(.*)-item$ /item.php?name=$1&id=%1 [QSD,END]
	RewriteCond %{QUERY_STRING} id=(.+)
	RewriteRule ^(.*)-place$ /place.php?name=$1&id=%1 [QSD,END]
	
	RewriteRule ^Asset/BodyColors.ashx$ /core/character/bodycolors.php 			  [END]
	RewriteRule ^Asset/CharacterFetch.ashx$ /core/character/characterfetch.php 			  [END]

	RewriteRule ^game/([0-9]+)$ /place.php?name=a&id=$1 [END]
	RewriteRule ^Game/([0-9]+)$ /place.php?name=a&id=$1 [END]

	RewriteRule ^Games.aspx$ /games.php [END]
	RewriteRule ^Catalog.aspx$ /catalog.php [END]
	RewriteRule ^Default.aspx$ /index.php [END]
	RewriteRule ^Friends.aspx$ /friends.php [END]
	RewriteRule ^Browse.aspx$ /browse.php [END]
	RewriteRule ^User.aspx$ /user.php [END]

	RewriteRule ^My/Character.aspx /my/character.php [END]
	RewriteRule ^My/Item.aspx /my/edit.php [END]

	RewriteRule ^games.php$ /core/error/404.php [END]
	RewriteRule ^browse.php$ /core/error/404.php [END]
	RewriteRule ^catalog.php$ /core/error/404.php [END]
	RewriteRule ^edit.php$ /core/error/404.php [END]
	RewriteRule ^item.php$ /core/error/404.php [END]
	RewriteRule ^place.php$ /core/error/404.php [END]
	RewriteRule ^README.md$ /core/error/404.php [END]

	RewriteRule ^core/error/404.php /core/error/404.php [END]
	
	RewriteRule ^Admin/components/(.*)$ Admin/components/$1.php [END]

	RewriteRule ^js/PlaceLauncher.js /js/PlaceLauncher.js.php [END]

	RewriteRule ^core(/.*)?$ /core/error/404.php [END]

</IfModule>

DirectoryIndex index.php index.html Default.aspx Default.aspx.php
ErrorDocument 404 /core/error/404.php